<div>
    <p class="text-4xl">Paperweight Clocktower Setup Instructions</p>

    <h1 class="text-2xl">Step 1. Position the overlay</h1>
    <ul class="list-decimal">
    <li>hi</li>
    </ul>

    <ul class="list-disc">

        <li> Take a screenshot of your stream layout. The best way to do this is in your streaming software (OBS, Streamlabs, etc).
        If you screenshot a running twitch stream instead, be sure to capture only the 16:9 Twitch player, and not any of the
        black buffer area that Twitch adds. For best results, have your grimoire set up with five players for this screenshot.</li>
        [SCRENSHOT OF INCORRECT TWITCH PLAYER WITH BUFFER]
        [SCREENSHOT OF CORRECT LAYOUT]

        <li> Upload that image in the extension configuration screen.</li>
        [SCREENSHOT OF CONFIG UPLOAD BUTTON]

        <li> Add or remove players in the configuration screen to match the image you uploaded. 
        Adjust the overlay until the green circles are just covering your grimoire tokens. </li>
        [SCREENSHOT OF CONTROLS]
        [SCREENSHOT OF INCORRECT POSITIONING]
        [SCREENSHOT OF CORRECT POSITIONING]

        <li> Save your configuration. </li>
        [SCREENSHOT OF SAVE BUTTON]
    </ul>

    <h1 class="text-2xl">Step 2. Set up the Town Square plugin</h1>

    <ul class="list-disc">
        <li> Generate and save a secret key. Then, copy the key you've generated.</li>
        [SCREENSHOT OF KEY GEN FORM]

        <li> Drag the bookmarklet to your bookmarks bar.</li>
        [GIF OF DRAGGING THE BOOKMARKLET]

        <li> Navigate to the Town Square web application (URL) in your browser, then click the bookmarklet. </li>
        You should see a Twitch icon appear in the top right corner of the window.
        [SCREENSHOT OF BOOKMARKLET IN BOOKMARK BAR AND TWITCH ICON] 

        <li> Click the Twitch icon to open the plugin menu.</li>

        <li> Paste the secret key into the Secret Key text box. Then, click the Enable button to start sharing your grimoire with the extension.
        You can disable or re-enable this setting at any time.</li>
        [SCREENSHOT OF PLUGIN MENU]

        <li> Close the plugin menu by clicking the 'close' button or clicking the Twitch icon again.</li>
    </ul>
</div>